@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: var(--font-google-reg);
}

@layer components {
  .glassmorph {
    background: rgba(255, 255, 255, 0.23);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.2px);
    -webkit-backdrop-filter: blur(8.2px);
    border: 1px solid rgba(255, 255, 255, 0.98);
  }
}
